/* Para las "clases" se usa . */
.fondoNegro {
    background-color: black;
    padding: 10px;
}

.fondoGris {
    background-color: lightgrey;
    padding: 10px;
}

.paises {
    color: red;
}

/* Para los "identificadores" se usa # */
#paises1 { 
    font-weight: bold;
}

#div1 {
    background-color: aqua;
    padding: 20px;
}

#div2 {
    background-color: pink;
    padding: 20px;
}

#div3 {
    background-color: blueviolet;
    padding: 20px;
}